@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC');


/* General */ 
html {
  height: 100%;
}

body {
    min-height: 100%;
}
.panel {
    display: inline-block;
    vertical-align:top; 
    width: 100%;
    overflow: hidden;
}

.leftPanel {
    display: inline-block;
    float: left;
    width: 350px;
    height: 100%;
    padding-left: 40px;
}

.rightPanel {
    display: inline-block;
    vertical-align:top; 
    height: 100%;
    width: auto;
}

/* Left Panel Text & Functionality */
.h1 {
    padding-top: 50px;
    font-size: 42;
    font-family: "Helvetica Neue";
    font-weight: 600;
    color: #1B2631;
}

.h2 {
    padding-bottom: 20px;
    font-size: 24;
    font-family: "Helvetica Neue";
    font-weight: 200;
    color: #1B2631;
}

button {
    width: 100px;
}

#region {
    margin-top: 10px;
    width: 310px;
}

/* Minigraphs Styles */

.bottomBox {
    margin-top: 50px;
}

/* Visualization */